### Fidap Demo  
  
In this demo notebook, we want to answer the following questions:  
1) Which counties have the lowest overall Covid-19 mortality rates?  
2) Which states have the lowest overall Covid-19 infection rates?

In [1]:
from fidap import fidap_client
from config import api_key
import pandas as pd

# instantiate api connection
fidap = fidap_client(api_key=api_key)

We can start by simply gathering information from all counties based on the NYT dataset.

In [30]:
nyt_covid19 = fidap.sql("""
SELECT *
FROM bigquery-public-data.covid19_nyt.us_counties
WHERE date = CAST('2021-06-28' AS DATE)
ORDER BY confirmed_cases DESC
LIMIT 20;
""")

We can also select population numbers from the ACS survey.

In [35]:
acs_population = fidap.sql("""
SELECT total_pop, geo_id
FROM bigquery-public-data.census_bureau_acs.county_2018_5yr
LIMIT 20;
""")

**County-Level**

Putting these two together, we can get the following query to get per-capita caseloads and number of deaths for every 10,000 residents in each county in the United States.

In [15]:
### SQL query to get infection rates 
infection_rate_query = fidap.sql("""
WITH covid_cases AS (
SELECT *
FROM bigquery-public-data.covid19_nyt.us_counties
WHERE date = CAST('2021-06-28' AS DATE)) 

SELECT acs.total_pop, c.county, c.state_name, c.confirmed_cases, c.deaths, (ROUND(10000*c.confirmed_cases/acs.total_pop, 2))  AS per_capita_county_infection_rate_10k, (ROUND(10000*c.deaths/acs.total_pop,2))  AS per_capita_county_death_rate_10k
FROM covid_cases AS c
INNER JOIN bigquery-public-data.census_bureau_acs.county_2018_5yr AS acs 
ON acs.geo_id = c.county_fips_code
ORDER BY per_capita_county_infection_rate_10k;
""")

In [34]:
nyt_covid19 = fidap.sql("""
SELECT MAX(date) AS date
FROM bigquery-public-data.covid19_nyt.us_counties
INNER JOIN 

GROUP BY county, state_name,county_fips_code, confirmed_cases, deaths
ORDER BY confirmed_cases DESC
LIMIT 20;
""")

In [16]:
infection_rate_query.head(n=10)

   total_pop  ... per_capita_county_death_rate_10k
0      71377  ...                             0.28
1       2518  ...                             0.00
2      16473  ...                             0.00
3         75  ...                             0.00
4      30856  ...                             1.30
5     197658  ...                             2.78
6      74487  ...                             1.75
7        102  ...                             0.00
8       1061  ...                             0.00
9       2930  ...                             0.00

[10 rows x 7 columns]

**State-Level**

In [20]:
## get state numbers
state_infection = infection_rate_query.copy().groupby('state_name').agg(
    total_pop = ('total_pop', sum),
    total_deaths = ('deaths', sum),
    total_cases = ('confirmed_cases', sum)
).reset_index()

state_infection = state_infection.assign(
    total_deaths_per_capita = lambda x: 10000 * x.total_deaths/x.total_pop,
    total_infections_per_capita = lambda x: 10000 * x.total_cases/x.total_pop    
).sort_values(by = 'total_infections_per_capita')

In [22]:
state_infection.head(n = 10)

              state_name  ...  total_infections_per_capita
11                Hawaii  ...                   255.367507
46               Vermont  ...                   390.126357
39           Puerto Rico  ...                   496.120245
37                Oregon  ...                   510.320698
19                 Maine  ...                   517.619501
48            Washington  ...                   620.974959
8   District of Columbia  ...                   720.454990
29         New Hampshire  ...                   737.707480
20              Maryland  ...                   770.222381
47              Virginia  ...                   808.099909

[10 rows x 6 columns]