In [36]:
import numpy as np
import pandas as pd
import altair as alt
import fidap
from config import api_key

# instantiate connection
fidap = fidap.fidap_client(api_key = api_key)

In [3]:
fred_meta = fidap.sql("""
SELECT *
FROM fidap-301014.fred.INFORMATION_SCHEMA.TABLES
""")

In [7]:
# get all table names
print(fred_meta.table_name)

0             categories
1            series_info
2    series_observations
Name: table_name, dtype: object

In [22]:
#meta for each of the tables to figure out which might be useful 
categories_meta = fidap.sql("""
SELECT * EXCEPT(is_generated, generation_expression, is_stored, is_updatable)
FROM fidap-301014.fred.INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'categories'
""")

series_info_meta = fidap.sql("""
SELECT * EXCEPT(is_generated, generation_expression, is_stored, is_updatable)
FROM fidap-301014.fred.INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'series_info'
""")

series_observations_meta = fidap.sql("""
SELECT * EXCEPT(is_generated, generation_expression, is_stored, is_updatable)
FROM fidap-301014.fred.INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'series_observations'
""")

Suppose I want information on these few tables:  
1) Monthly Supply of Houses in the United States  
2) New Privately-Owned Housing Units Started: Total Units  
3) New Houses Sold by Stage of Construction, Total  
4) New One Family Houses for Sale in the United States  
5) Producer Price Index by Commodity: Lumber and Wood Products: Hardwood Lumber  
6) Producer Price Index by Commodity: Lumber and Wood Products: Oak and Maple Hardwood Flooring    
  
I can obtain some information from the `series_info` table of the `fred` project.

In [49]:
housing_data = fidap.sql("""
SELECT *
FROM fidap-301014.fred.series_info
WHERE series_id IN ('HOUST', 'MSACSR', 'NHSDPTS', 'HNFSUSNSA', 'WPU0812', 'WPU08120401', 'COMPUTSA', 'UNDCONTSA', 'RELDCBMO27SBOG', 'H8B1026NCBCMG', 'MRTSSM444USN', 'MRTSSM4423XUSS', 'PRRESCONS', 'MPCV00XXS')
""")

Now that I know what I am looking at, I can begin querying in earnest. What I would really like to find out is whether we can eyeball any relationship between supply of houses and construction of new houses. A quick inspection of the data tells us that we can get most of the data starting from the 1960s except for `Producer Price Index by Commodity: Lumber and Wood Products: Oak and Maple Hardwood Flooring` where the earliest records were from 1984.

In [42]:
# query for housing supply data 
monthly_supply_df = fidap.sql("""
SELECT series_id, date, value
FROM fidap-301014.fred.series_observations
WHERE series_id = 'MSACSR';
""")

flooring_pricing = fidap.sql("""
SELECT series_id, date, value
FROM fidap-301014.fred.series_observations
WHERE series_id = 'WPU080120401'
""")

# houses sold
new_houses_sold = fidap.sql("""
SELECT series_id, date, value
FROM fidap-301014.fred.series_observations
WHERE series_id = 'NHSDPTS'
""")

The query above was a dud. There was no such series available in the table.

In [43]:
# id the series available 
available_series = fidap.sql("""
WITH all_series AS (
SELECT DISTINCT series_id 
FROM fidap-301014.fred.series_observations
)

SELECT * 
FROM fidap-301014.fred.series_info AS i
INNER JOIN all_series as s
ON s.series_id = i.series_id;
""")

A quick manual trawl through the data suggested that some datasets are not imported. But that is okay, we can work with others instead. It is a little weird because we know that they exist from the `series_observations` table.

In [50]:
# housing construction has started
housing_started = fidap.sql("""
SELECT series_id,date, value
FROM fidap-301014.fred.series_observations
WHERE series_id = 'HOUST';
""")

# lumber pricing index
hardwood_lumber_pricing = fidap.sql("""
SELECT series_id, date, value
FROM fidap-301014.fred.series_observations
WHERE series_id = 'WPU0812'; 
""")

# real estate loans 
delta_real_estate_loans = fidap.sql("""
SELECT series_id, date, value
FROM fidap-301014.fred.series_observations
WHERE series_id = 'H8B1026NCBCMG'; 
""")

# private residential spending
building_materials_expenditure = fidap.sql("""
SELECT series_id, date, value
FROM fidap-301014.fred.series_observations
WHERE series_id = 'MRTSSM444USN'; 
""")

furnishing_expenditure = fidap.sql("""
SELECT series_id, date, value
FROM fidap-301014.fred.series_observations
WHERE series_id = 'MRTSSM4423XUSS'; 
""")

# housing expenditure
private_residential_expenditure = fidap.sql("""
SELECT series_id, date, value
FROM fidap-301014.fred.series_observations
WHERE series_id = 'PRRESCONS'; 
""")

In [35]:
print(housing_data)

  series_id  ... category_id
0    MSACSR  ...       32426
1     HOUST  ...       32302

[2 rows x 17 columns]